sudo: false
language: perl
perl:
  - "5.21"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
  - "5.8"
install:
  - cpanm --quiet --notest DBIx::Class Dancer::Session::DBIC
  - cpanm --quiet --installdeps --notest .
